{% extends 'base.html' %} {% block body %}
<div class="container-fluid container-sm font-monospace overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-9 table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Username</th>
              <th scope="col">Phone</th>
              <th scope="col">Gender</th>
              <th scope="col">Origin</th>
              <th scope="col">Token</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr style="width: 20px">
              <!-- <th scope="row">1</th> -->
              <td>{{user["Full_Name"]}}</td>
              <td>{{user["Email"]}}</td>
              <td>{{user["Username"]}}</td>
              <td>{{user["Phone_Number"]}}</td>
              <td>{{user["Gender"]}}</td>
              <td>{{user["Nationality"]}}</td>
              <td>{{user["Token"]}}</td>
              <td>
                {{user["Created_at"].day}}/{{user["Created_at"].month}}/{{user["Created_at"].year}}
              </td>

              <td>
                <a href="{{url_for('admin.edit_user', emailid=user['Email'])}}"
                  ><button type="button" class="btn btn-outline-success">
                    Edit
                  </button>
                </a>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  onclick="return confirm('Are you sure?');"
                >
                  Delete
                </button>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      <form
        action=""
        class="col-md-3 p-4 align-items-start overflow-hidden h-100 bg-white position-static"
        method="post"
      >
        <div class="fs-3 text-wrap" style="width: 6rem">Edit</div>
        <br />

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Full Name:</label
          >
          <div class="col-sm-7">
            <input
              type="name"
              class="form-control"
              value="{{user['Full_Name']}}"
              name="name"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Email:</label
          >
          <div class="col-sm-7">
            <input
              type="email"
              class="form-control"
              value="{{user['Email']}}"
              name="email"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Username:</label
          >
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              value="{{user['Username']}}"
              name="username"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Phone:</label
          >
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              value="{{user['Phone_Number']}}"
              name="phone"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Origin:</label
          >
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              value="{{user['Nationality']}}"
              name="origin"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            for="inputEmail3"
            class="col-sm-5 col-form-label align-items-start"
            >Gender:</label
          >
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              value="{{user['Gender']}}"
              name="gender"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-5 col-form-label"
            >Token:</label
          >
          <div class="col-sm-7">
            <input
              type="name"
              class="form-control"
              value="{{user['Token']}}"
              name="token"
            />
          </div>
        </div>
        <button class="bg-success text-light">Update</button>
      </form>
    </div>
  </div>
  {% endblock %} {%block form%}
  <form action="" class="w-100 bg-white p-3 border-bottom" method="post">
    category:
    <select class="" name="category">
      <option selected disabled>Filter by</option>
      <option value="Name">Name</option>
      <option value="Email" selected>Email</option>
      <option value="Phone_Number">Phone</option>
      <option value="Gender">Gender</option>
      <option value="Username">Username</option>
      <option value="Nationality">Origin</option>
    </select>
    Filter Term: <input name="search" required />
    <button class="">Filter</button>
  </form>
  {%endblock%}
</div>
